@page "/fetch"
@attribute [StreamRendering]

<PageTitle>Fetch</PageTitle>

<h1>Current Cronjobs</h1>

@if (data == null)
{
    <div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Website</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var item in data)
        {
            <tr>
                <td>@item[1]</td>
                <td><a href="@item[2]" target="_blank" rel="noopener noreferrer">@item[2]</a></td>
                <td class="@GlobalUtils.AssignColor(item[0])">@GlobalUtils.CapitalizeFirstLetter(item[0])</td>
            </tr>
        }

    </table>
}

<Button @rendermode="InteractiveServer" />


@code {
    private List<string[]>? data;

    protected override async Task OnInitializedAsync()
    {
        data = await FetchDatabase.FetchDataAsync("updates");
    }
}